[init]
  templatedir = ~/.git_template
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
[push]
	default = tracking
[color]
 	ui = auto
[merge]
	tool = opendiff
[diff]
[core]
	excludesfile = ~/.gitignore-global
	mergeoptions = --no-edit
	attributesfile = ~/.gitattributes
[alias]
	unstage = reset HEAD --
[include]
  path = ./.gitconfig.private
[credential]
	helper = osxkeychain
[user]
	name = Almog Kurtser
	email = akurtser@gmail.com
